.header {
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    border-radius: 10px;
    background-color: aliceblue;
    margin: 5px;
} 

.logo {
    width: 140px;
    padding: 3px;
} 

.nav-items{
    display: flex;
    align-items: center;
}
.nav-items > ul{
    display: flex;
    gap: 20px;
    padding: 0px 30px;
    font-size: 22px;
}
.nav-items> ul > li{
    padding: 10px;
    margin: 10px;
    list-style: none;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    width: 200px;
    padding: 5px;
    height: 400px;
    margin: 5px;
   
}
.res-card:hover{
     border: 3px solid black;
     cursor: pointer;
}
.res-logo{
    width: 100%;
    height: 200px;
    
}
.search{
    padding: 10px;
    margin: 10px;
}
.search-box{
    margin: 0 7px;
    width: 300px;
}
.filter{
    display: flex;
}
.filter-btn{
    cursor: pointer;
    margin: 10px;
    
}
.shimmer-Container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    width: 200px;
    padding: 5px;
    height: 400px;
    margin: 5px;
    background-color: rgb(180, 177, 177);
}

.login{
    padding: 0 20px;
    cursor: pointer;
}

.link-header{
    list-style: none;
    text-decoration: none;
    color: black;
    cursor: pointer;
}